<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>20180531-4-render渲染函数</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <style type="text/css">
        .row {
            margin-top: 5em;
            border-radius: 6px;
            padding: .4em;
            font-size: 14px;
            background: lightsalmon;
            min-height: 20em;
        }

    </style>

    <script src="bower_components/vue/dist/vue.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="app">

                <repeat-element :items="arr"></repeat-element>

                <!--<ul v-if="items.length">
                    <li v-for="item in items"> {{ item.name }} </li>
                </ul>
                <p v-else> No items found. </p>-->
            </div>
        </div>
    </div>
</div>


<script>

    Vue.component("repeat-element", {
        props: ["items"],
        render: function (createElement) {
            if (this.items.length) {
                return createElement("ul", this.items.map(function (item) {
                    return createElement("li", item.name)
                }))
            } else {
                return createElement("p", 'No items found.')
            }
        },
    });


    new Vue({
        el: "#app",
        data: {
            arr: [
                {index: 0, name: "Bob"},
                {index: 1, name: "ZZZ"},
                {index: 2, name: "AAA"},
                {index: 3, name: "BBB"},
                {index: 4, name: "CCC"},
                {index: 5, name: "DDD"},
                {index: 6, name: "EEE"},
                {index: 7, name: "FFF"},
                {index: 8, name: "GGG"},
                {index: 9, name: "HHH"},
                {index: 10, name: "III"},
            ]
        },
    })
</script>

</body>
</html>