@charset "utf-8";

.a-selected { color: #32a6f4;}


/*内容包围框的相同样式*/
.common-content-wrapper-style {
    width: 1190px;
    margin: 0 auto;
    font-size: 13px;
}


/* 当前位置 */
.current-page-position {
    width: 1190px;
    margin: 0 auto;
    line-height: 48px;
    font-size: 14px;
    text-align: left;
}
.current-page-position span:nth-child(1) {
    margin-right: 5px;
}
.current-position {
    color: #333333;
}